:host {
  display: block;
}
.menu-group__details::part(summary) {
  font-weight: 600;
  width: 100%;
  color: var(--wa-color-text-normal) !important;
}
.menu-group__details::part(header) {
  transition: color var(--wa-transition-normal, 150ms ease);
  transition-property: background, border, box-shadow, color;
  transition-duration: var(--wa-transition-fast);
  transition-timing-function: var(--wa-transition-easing);
}
.menu-group__details::part(header),
.menu-group__details::part(content) {
  padding: 0;
  border-radius: 0;
  padding: 0 0.5rem;
}
.menu-group__details::part(header):hover {
  color: var(--wa-color-text-normal);
  background-color: var(--wa-color-neutral-fill-quiet);
}

.menu-group__details::part(content) {
  display: flex;
  flex-direction: column;
}
