:host {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  --form-max-width: max-content;
}
.white-labeling__input-forms::part(label) {
  width: 110px;
  font-weight: bold;
}
.white-labeling__input-forms::part(wrapper) {
  flex: 1 1 0%;
  width: 100%;
}
.white-labeling__input-forms {
  flex-direction: column;
  align-items: flex-start;
  --ir-gap: 0.5rem;
}
.copy-button {
  width: var(--ir-clear-size);
  height: var(--ir-clear-size);
}
.copy-button::part(base) {
  width: var(--ir-clear-size);
  height: var(--ir-clear-size);
  min-height: auto;
  min-width: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
/*md*/
@media (min-width: 768px) {
  .white-labeling__input-forms {
    flex-direction: row;
    align-items: center;
    --ir-gap: 1rem;
  }
  .white-labeling__input-forms::part(label) {
    text-align: right;
    font-weight: bold;
  }
}
