:host {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}
.white-labeling__input-forms::part(label) {
  width: 110px;
  font-weight: bold;
}
/*md*/
@media (min-width: 768px) {
  .white-labeling__input-forms::part(label) {
    text-align: right;
    font-weight: bold;
  }
}
