:host {
  display: block;
}

.menu-bar {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background: #104064;
  width: 100%;
  color: white;
}

::slotted(ir-menu-bar-menu:focus-visible) {
  outline: none;
}
