:host {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow-x: auto;
  min-height: 60vh;
  border: 1px solid var(--wa-color-neutral-border-quiet, #abaeb9);
  /* border-bottom: 0; */
}
:host {
  box-sizing: border-box !important;
}

:host *,
:host *::before,
:host *::after {
  box-sizing: inherit !important;
  padding: 0;
  margin: 0;
}

[hidden] {
  display: none !important;
}
.table--container {
  flex: 1 1 0%;
}
.arrivals-table__actions-cell {
  display: flex;
  min-width: 250px;
  justify-content: flex-end;
}
