:host {
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  gap: var(--wa-space-l, 1.5rem);
  min-height: 100vh;
  padding: var(--wa-space-l);
}
.page-title {
  font-family: var(--wa-font-family-heading);
  font-weight: var(--wa-font-weight-heading);
  line-height: var(--wa-line-height-condensed);
  text-wrap: balance;
  font-size: var(--wa-font-size-xl);
  /* margin-bottom: 1rem; */
}
