@import url('../../../../assets/webawesome/component/host.css');
:host {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.booking-nbr-cell__channel_nbr {
  font-size: 0.875rem;
  padding: 0;
  margin: 0;
}
.booking-nbr-cell__container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.booked-by-source__logo {
  width: 1.5625rem;
  background-color: white;
  border-radius: 50%;
}
