@import url('../../../../assets/webawesome/component/host.css');
:host {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
  width: fit-content;
  font-size: 0.93rem;
}

.booked-on-cell__time {
  font-size: 0.875rem;
}
