:host {
  display: block;
  color: var(--ir-foreground);
  padding: 1rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

:host([aria-hidden='true']) {
  visibility: hidden !important;
  position: absolute !important;
  inset: 0 !important;
  pointer-events: none !important;
}
::slotted(*) {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
