:host {
  display: block;
  color: var(--ir-foreground);
  padding: 2rem;
  width: 100%;
  /* height: 100%; */
  height: auto;
  box-sizing: border-box;
}

:host([aria-hidden='true']) {
  visibility: hidden !important;
  position: absolute !important;
  inset: 0 !important;
  pointer-events: none !important;
  display: none;
}
::slotted(*) {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
