:host {
  display: block;
}
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.modal-header {
  border-bottom: 0px !important;
}
.otp-modal {
  z-index: 9999999 !important;
}
.modal-dialog {
  z-index: 9999999 !important;
}
.modal-footer {
  padding-top: 0.5rem !important;
  border-top: 0 !important;
}
.verification-message {
  max-width: 90%;
}
@media (min-width: 768px) {
  .modal-dialog,
  .modal-content {
    width: fit-content !important;
  }
  .verification-message {
    max-width: 350px !important;
  }
}
