* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:host {
  display: block;
  width: 100%;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  border-radius: 0;
  box-sizing: border-box !important;
  color: #393c40;
  padding: 0.5rem 1.125rem 0.5rem 3.375rem !important;
}
:host(:hover),
:host(:focus) {
  color: #16181b;
  text-decoration: none;
  background-color: #f4f5fa;
  outline: none;
}

:host(:active) {
  color: #212529;
  background-color: #e9ecef;
}
:host ::slotted(*) {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:host ::slotted(a),
:host ::slotted(button) {
  display: block;
  width: 100%;
  padding: 0;
  border: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: none;
  cursor: pointer;
}

:host ::slotted(a:hover),
:host ::slotted(button:hover),
:host ::slotted(a:focus),
:host ::slotted(button:focus) {
  text-decoration: none;
  outline: none;
}
@media (min-width: 768px) {
  :host {
    padding: 0.625rem 1.25rem !important;
    font-size: 0.875rem;
    color: #2a2e30;
    line-height: 1;
    font-weight: 400;
  }
}
