.ir-table-row td {
  padding: 0.5rem 1rem !important;
  text-align: left;
  z-index: 2;
  background-color: white;
  white-space: nowrap;
  width: max-content;
  max-width: max-content;
}
.ir-table-row td:last-child {
  width: 100%;
}
.table-container {
  border-radius: 0.5rem;
}
.table td {
  border-top: 0;
  border-bottom: 1px solid #e3ebf3;
}
/* .table thead th:first-child {
  border-top-left-radius: 0.5rem;
}
.table thead th:last-child {
  border-top-right-radius: 0.5rem;
} */
.table thead th {
  border: none !important;
  background: #f3f4f6;
  color: #374151;
  padding: 0.5rem 1rem !important;
  text-align: left;
}
