:host {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.mpo-management__panel {
  background: var(--mpo-management__panel-background);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.mpo-management-form .mpo-management__panel:last-child {
  border-bottom: 0;
}

.mpo-management__panel-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.875rem;
}

.mpo-management__panel-title {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--text-heading);
  /* margin-bottom: 0.875rem; */
}

.mpo-management__panel-subtitle {
  margin: 0.15rem 0 0 0;
  color: var(--text-muted);
  font-size: 0.9rem;
  display: none;
}

.mpo-management__panel-body {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.mpo-management__panel-body.disabled {
  opacity: 0.55;
  pointer-events: none;
}
.form-grid {
  display: grid;
  gap: 0.5rem;
}
.form-grid.two {
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.form-grid.three {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.mpo-management__input::part(label) {
  width: 130px;
}
.mpo-management__country-container,
.mpo-management__credentials-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media (min-width: 768px) {
  .mpo-management__input-city::part(label),
  .mpo-management__input-password::part(label) {
    display: none;
  }
  .mpo-management__country-container,
  .mpo-management__credentials-container {
    flex-direction: row;
    align-items: center;
  }
}
