:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  --form-max-width: max-content;
}
.mpo-management__input::part(label) {
  width: 140px;
  font-weight: bold;
}
.mpo-management__input {
  flex-direction: column;
  align-items: flex-start;
  --ir-gap: 0.5rem;
}
.mpo-management__input::part(wrapper) {
  flex: 1 1 0%;
  width: 100%;
}

.mpo-management__input-password::part(suffix) {
  gap: 0.25rem;
  align-items: center;
}

.mpo-management__country-container,
.mpo-management__credentials-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.mpo-management__popup {
  display: flex;
  height: 100%;
}
.mpo-management__popup-trigger {
  all: unset;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: var(--ir-clear-size);
  height: var(--ir-clear-size);
  padding: var(--ir-clear-padding);
  cursor: pointer;
  margin: auto;
}
/*md*/
@media (min-width: 768px) {
  .mpo-management__input {
    flex-direction: row;
    align-items: center;
    --ir-gap: 1rem;
  }
  .mpo-management__input::part(label) {
    text-align: right;
  }
  .mpo-management__input-city::part(label),
  .mpo-management__input-password::part(label) {
    display: none;
  }
  .mpo-management__country-container,
  .mpo-management__credentials-container {
    flex-direction: row;
    align-items: center;
  }
}
