:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.mpo-management__input::part(label) {
  width: 130px;
  text-align: right;
  font-weight: bold;
}
.mpo-management__country-container,
.mpo-management__credentials-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .mpo-management__input-city::part(label),
  .mpo-management__input-password::part(label) {
    display: none;
  }
  .mpo-management__country-container,
  .mpo-management__credentials-container {
    flex-direction: row;
    align-items: center;
  }
}
